.DS_Store
*.log

node_modules/

# Build Outputs
/*.js
/*.d.ts
/__generated__/
!/index.js

# Yarn (Berry)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
